body {
  background-color: #242e39;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 5%;

}

h3 {
  color: #ffc200;
}
h1 {
  color: #ffc200;
}
em {
  color: #e4e4e4;
}
ul {
  color: #e4e4e4;
}
a {
  color: #ffc200;
}
td {
  color: #e4e4e4;
}
ol {
  color: #e4e4e4;
}
label {
  color: #e4e4e4;
}
